.ws-topbar {
  position: relative;
  z-index: 10000;
  height: 120px;
  width:100%;
  background: #fff;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
  .ws-main-search {
    position: relative;
    color: #aaa;
    i.material-icons {
      position: absolute;
      color: #aaa;
      font-size: 18px;
      height: 18px;
      top: 0px;
      bottom: 0px;
      left: 10px;
      margin: auto;
    }
    input {
      padding: 7px 10px 7px 40px;
      max-width: 600px;
      width: 600px;
    }
  }
  .ws-topbar-user-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }
  nav {
    background: #fff!important;
  }
  .ws-topbar-filters {
    padding: 20px;

    .ws-addbtn-wrap {
      .dropdown-menu {
        width: 250px;
        padding: 10px;
      }
    }
  }

  #initNewFolder {
    width: 240px;
    padding: 5px;
  }
}