@import "../../variables";

.ws-body {
  height: 100%;
  padding: $ws-padding-outer;
  overflow-y: scroll;

  .ws-content-item {
    position: relative;
    float: left;
    margin-right: $ws-margin-secondary;
    margin-bottom: $ws-margin-secondary;
    width: $ws-content-item-width;
    height: $ws-content-item-height;
    background: $ws-content-item-background;
    border-radius: $ws-border-radius-secondary;
    box-shadow: $ws-item-shadow-primary;
    -webkit-transition: box-shadow $ws-transition-time-secondary;
    -moz-transition: box-shadow $ws-transition-time-secondary;
    -ms-transition: box-shadow $ws-transition-time-secondary;
    -o-transition: box-shadow $ws-transition-time-secondary;
    transition: box-shadow $ws-transition-time-secondary;

    .ws-content-item-preview {
      height: 95px;
      text-align: center;
      padding: $ws-padding-inner-primary;
      border-radius: $ws-border-radius-secondary $ws-border-radius-secondary 0 0;
      i.material-icons {
        font-size: 80px;
        color: $ws-color-primary;
      }
    }
    .ws-content-item-info {
      background: #fafafa;
      padding: $ws-padding-inner-primary;
      border-radius: 0 0 $ws-border-radius-secondary $ws-border-radius-secondary;
      .ws-info-text-title {
        margin: 0 0 5px 0;
        font-size: 16px;
      }
      .ws-info-text-sub {
        font-size: $ws-font-size-secondary;
        color: $ws-color-text-secondary;
        line-height: 18px;
        &.ws-info-text-sub-bold {
          font-weight: bold;
        }
      }
    }

    &:hover {
      -webkit-box-shadow: $ws-item-shadow-secondary;
      -moz-box-shadow: $ws-item-shadow-secondary;
      box-shadow: $ws-item-shadow-secondary;
      -webkit-transition: box-shadow $ws-transition-time-secondary;
      -moz-transition: box-shadow $ws-transition-time-secondary;
      -ms-transition: box-shadow $ws-transition-time-secondary;
      -o-transition: box-shadow $ws-transition-time-secondary;
      transition: box-shadow $ws-transition-time-secondary;
    }
  }
  .ws-content-item-full {
    position: fixed;
    width: 0;
    height: 0;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 10000;
    overflow: hidden;
    -webkit-transition: width 0.1s ease-out, height 0.1s ease-out;
    -moz-transition: width 0.1s ease-out, height 0.1s ease-out;
    -ms-transition: width 0.1s ease-out, height 0.1s ease-out;
    -o-transition: width 0.1s ease-out, height 0.1s ease-out;
    transition: width 0.1s ease-out, height 0.1s ease-out;

    .ws-content-item-full-header {
      height: 50px;
      padding: $ws-padding-inner-secondray;
      font-size: 16px;
      background: rgba(0, 0, 0, 0.2);

      h5 {
        margin: 10px;
        font-size: 16px;
      }
    }
    .ws-content-item-full-body-wrap {
      position: relative;
      height: calc(100% - 50px);
      .ws-content-item-full-body {
        display: flex;
        width: 80%;
        height: 100%;
        margin: auto;
        text-align: center;
        .ws-content-item-preview {
          margin: auto;
          i.material-icons{
            font-size: 150px;
          }
        }
        .ws-content-item-details {
          position: absolute;
          bottom: 20px;
          left: 0;
          right: 0;
          margin: auto;
        }
      }
    }
  }
}