<div class="ws-xs-breadcrumb" (click)="toggleBreadcrumb()">
  <span class="ws-bc-selected-section">{{xsBreadcrumbInfo.selectedSection}}</span>
  <button class="ws-abs-button">
    <i class="material-icons">{{xsSidenavState ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}</i>
  </button>
</div>
<div class="ws-sidenav">
  <ul class="ws-list ws-iconed-list">
    <li class="ws-sidenav-item ws-list-item clickable ws-hover-flat-primary">
      <!-- routerLink="/ws/dashboard" -->
      <a data-toggle="collapse" href="#myFoldersDropdown">
        <i class="material-icons ws-list-item-icon">folder_shared</i>
        <span class="ws-list-item-text">My Folders</span>
      </a>
      <div class="collapse" id="myFoldersDropdown">
        <ul class="ws-list ws-iconed-list" *ngIf="myFolders">
          <li class="ws-sidenav-item ws-list-item clickable ws-hover-flat-primary" (click)="goToRoute('/ws/dashboard','')">
            <i class="material-icons ws-list-item-icon">folder_open</i>
            <span class="ws-list-item-text">All</span>
          </li>
          <hr>
          <li class="ws-sidenav-item ws-list-item clickable ws-hover-flat-primary" *ngFor="let folder of myFolders.folders" (click)="goToRoute('/ws/dashboard',folder.uniqueName)">
            <!-- routerLinkActive="/ws/{{ folder.name.replace(' ','').toLowerCase() }}" -->
            <i class="material-icons ws-list-item-icon">folder</i>
            <span class="ws-list-item-text">{{ folder.folderName }}</span>
          </li>
        </ul>
      </div>
    </li>
    <li class="ws-sidenav-item ws-list-item clickable ws-hover-flat-primary" (click)="goToRoute('/ws/dashboard','shared')">
      <i class="material-icons ws-list-item-icon">people_outline</i>
      <span class="ws-list-item-text">Shared with me</span>
    </li>
    <li class="ws-sidenav-item ws-list-item clickable ws-hover-flat-primary" (click)="goToRoute('/ws/recent','')">
      <i class="material-icons ws-list-item-icon">recent_actors</i>
      <span class="ws-list-item-text">Recent</span>
    </li>
    <li class="ws-sidenav-item ws-list-item clickable ws-hover-flat-primary" (click)="goToRoute('/ws/history','')">
      <i class="material-icons ws-list-item-icon">history</i>
      <span class="ws-list-item-text">History</span>
    </li>
    <hr>
    <span *ngIf="authPermissions.role == 'admin'">
      <b>Administration</b>
    </span>
    <li *ngIf="authPermissions.role == 'admin'" class="ws-sidenav-item ws-list-item clickable ws-hover-flat-primary" (click)="goToRoute('/ws/users','')">
      <i class="material-icons ws-list-item-icon">people_outline</i>
      <span class="ws-list-item-text">Users</span>
    </li>
    <li *ngIf="authPermissions.role == 'admin'" class="ws-sidenav-item ws-list-item clickable ws-hover-flat-primary" (click)="goToRoute('/ws/trash','')">
      <i class="material-icons ws-list-item-icon">delete</i>
      <span class="ws-list-item-text">Trashed Items</span>
    </li>
    <li *ngIf="authPermissions.role == 'admin'" class="ws-sidenav-item ws-list-item clickable ws-hover-flat-primary" (click)="goToRoute('/ws/audit-trail','')">
      <i class="material-icons ws-list-item-icon">list</i>
      <span class="ws-list-item-text">Audit Trail</span>
    </li>
  </ul>
</div>