[fill-width] {
    width: 100%
}
[fill-height] {
    height: 100%;
}
.ws-pos-abs {
  position: absolute;
}

.ws-pos-rel {
  position: relative;
}

.ws-bg-primary {
  background: $ws-color-primary;
}
.ws-bg-secondary {
  background: $ws-hover-background-secondary;
}

.ws-clearfix-h {
  right: 0;
  left: 0;
  margin: auto;
}

.ws-clearfix-v {
  top: 0;
  bottom: 0;
  margin: auto;
}

.ws-clearfix-all {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}