// ############# IMAGED MESSAGE ##############
.ws-message {
    // position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    &.ws-imaged-message {
        // width: 100px;
        text-align: center;
        color: $ws-color-text-secondary;
        i.material-icons {
            font-size: $ws-imaged-message-text;
            color: $ws-hover-background-secondary;
        }
    }
}


.ws-alert {
    &.ws-alert-danger {
      color: $ws-danger;
    }
    &.ws-alert-success {
      color: $ws-success;
    }
}

.ws-form-alerted {
    .ws-alert {
        position: absolute;
        padding: 0 5px;
        font-size: $ws-font-size-secondary;
    }
}