$ws-padding-outer  : 20px;
$ws-padding-inner-primary  : 10px;
$ws-padding-inner-secondray  : 5px;
$ws-margin-primary   : 10px;
$ws-margin-secondary   : 20px;

//Motion
$ws-transition-time : 0.4s;
$ws-transition-time-secondary : 0.2s;

//Colors
$ws-color-primary : #f2a521;
$ws-color-primary-dark : darken($ws-color-primary, 20%);
$ws-color-primary-darker : darken($ws-color-primary, 37%);
$ws-color-primary-light: lighten($ws-color-primary, 20%);
$ws-color-primary-lighter: lighten($ws-color-primary, 37%);
$ws-color-text-primary : #000;
$ws-color-text-secondary : #888;
$ws-color-text-third : #aaa;
$ws-hover-background-primary  : #eee;
$ws-hover-background-secondary  : #ddd;
$ws-color-white : #fff;

$ws-danger : rgb(240, 73, 22);
$ws-success : rgb(139, 221, 46);

//Text
$ws-font-size-secondary : 12px;

//Borders
$ws-border-width-primary : 1px;
$ws-border-width-secondary : 2px;
$ws-border-color-primary : #ddd;
$ws-border-color-secondary : #000;

$ws-border-radius-primary : 3px;
$ws-border-radius-secondary : 5px;

//Shadows
$ws-button-raised-primary : 0 1px 4px rgba(0, 0, 0, 0.4);
$ws-item-shadow-primary : 0 1px 3px rgba(0, 0, 0, 0.5);
$ws-item-shadow-secondary : 0 2px 8px rgba(0, 0, 0, 0.4);

//Item
$ws-content-item-background : #fff;
$ws-content-item-height : 180px;
$ws-content-item-hor-height : 50px;
$ws-content-item-width : 200px;

//Card
$ws-card-medium : 50%;
$ws-card-small : 30%;

// Icons
$ws-imaged-message-text : 80px;
