$ws-padding-outer  : 20px;
$ws-padding-inner-primary  : 10px;
$ws-padding-inner-secondray  : 5px;
$ws-margin-primary   : 10px;
$ws-margin-secondary   : 20px;

//Motion
$ws-transition-time : 0.4s;
$ws-transition-time-secondary : 0.2s;

//Colors
$ws-color-primary : #2b9fff;
$ws-color-primary-dark : #1e72b7;
$ws-color-text-primary : #000;
$ws-color-text-secondary : #888;
$ws-hover-background-primary  : #eee;
$ws-hover-background-secondary  : #ddd;

$ws-color-white : #fff;

//Text
$ws-font-size-secondary : 13px;

//Borders
$ws-border-width-primary : 1px;
$ws-border-width-secondary : 2px;
$ws-border-color-primary : #ddd;
$ws-border-color-secondary : #000;

$ws-border-radius-primary : 3px;
$ws-border-radius-secondary : 5px;

//Shadows
$ws-button-raised-primary : 0 1px 4px rgba(0, 0, 0, 0.4);
$ws-item-shadow-primary : 0 1px 3px rgba(0, 0, 0, 0.5);
$ws-item-shadow-secondary : 0 2px 8px rgba(0, 0, 0, 0.4);

//Item
$ws-content-item-background : #fff;
$ws-content-item-height : 180px;
$ws-content-item-width : 200px;
